body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.round{
    font-size: 24px;
}
.sund-screen__order{
    font-size: 24px;
}
.sund-players{
    font-size: 24px;
}
#sund-gameboard{
    height: 700px;
    width: 700px;
    margin: 0 auto;
    padding: 80px 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.board__cell{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    font-size: 80px;
}
.board__cell:nth-child(3n + 1){
   border-left: 0;
}
.board__cell:nth-child(3n){
    border-right: 0;
}
.board__cell:nth-child(-n+3){
    border-top: 0;
}
.board__cell:nth-last-child(-n+3){
    border-bottom: 0;
}
.sund-game-end{
    position: fixed;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.sund-game-end::before{
    content: '';

}
.sund-game-end__overlay{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

